#Variables

In [1]:
#create the variable a
a = "Acetaminophen"

In [2]:
#visualize a variable
a

'Acetaminophen'

In [3]:
print(a)

Acetaminophen

# Some python data types:

## str
## int, float, complex
## list, tuple, range
## dict

In [4]:
dosis = 200

In [5]:
#Getting the Data Type
print(type(a))

<class 'str'>

In [6]:
print(type(dosis))

<class 'int'>

#Operators

In [7]:
x = 5
y = 10

print(x + y)

15

In [8]:
x = 12
y = 3

print(x / y)

4.0

In [9]:
x = 5
y = 3

print(x == y)

False

In [10]:
x = 5
y = 3

print(x == y)

False

# Python collections
### A)List is a collection which is ordered and changeable. Allows duplicate members.

### B)Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

### C)Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

#### https://www.w3schools.com/python/python_lists.asp

In [11]:
#Lits

antidiabetics = ["Metformine", "Glimepiride", "Empaglifozine"]

In [12]:
dosis = [500, 4, 12]

In [13]:
#vizualize a list
dosis

[500, 4, 12]

In [14]:
#visualize an index
antidiabetics[0]

'Metformine'

### Pandas

In [15]:
import pandas as pd
import numpy as np

In [16]:
data = {
    "drugs": antidiabetics, 
    "dosis": dosis
}

In [17]:
data

{'drugs': ['Metformine', 'Glimepiride', 'Empaglifozine'],
 'dosis': [500, 4, 12]}

In [18]:
#Data Frame

In [19]:
DF = pd.DataFrame.from_dict(data)

In [20]:
DF

           drugs  dosis
0     Metformine    500
1    Glimepiride      4
2  Empaglifozine     12

In [21]:
DF["drugs"]

0       Metformine
1      Glimepiride
2    Empaglifozine
Name: drugs, dtype: object

In [22]:
#visualice a row
DF.loc[:,["drugs"]]

           drugs
0     Metformine
1    Glimepiride
2  Empaglifozine

In [23]:
#visualice a row
DF.loc[0]

drugs    Metformine
dosis           500
Name: 0, dtype: object

In [24]:
DF.iloc[0,:]

drugs    Metformine
dosis           500
Name: 0, dtype: object

In [25]:
#visualice an specific cell
DF.loc[1,"drugs"]

'Glimepiride'

In [26]:
#convert a column to list 
l = DF.drugs.to_list()

In [27]:
l

['Metformine', 'Glimepiride', 'Empaglifozine']

In [28]:
#Load a DF from a .csv file
biofacquim = pd.read_csv("data/biofacquim.csv")

In [29]:
biofacquim.head(5)

,ID,Name,Reference,Year,Kingdom,Genus,Specie,SMILES,DOI,Journal,...,Activity_3,IC50_4,Activity_4,IC50_5,Activity_5,IC50_6,Activity_6,Bioactivity,Bioactivity(2),Bioactivity(3)
0,FQNP392,Lichexanthone,J_Nat_Prod_2000;63_(10):1396-1399,2000,Fungus,Parmotrema,Parmotrema_tinctorum,O(C)c1cc(O)c2C(=O)c3c(C)cc(OC)cc3Oc2c1,10.1021/np0001326,Journal_of_Natural_Products,...,Seeding_Germination_A_hypochondriacus,>0.002,Seeding_Germination_E_crusgalli,0.000300,Photosynthesis,NaN,NaN,Phytotoxic,NaN,NoBioactivity(3)
1,FQNP391,Methyl_haematommate,J_Nat_Prod_2000;63_(10):1396-1399,2000,Fungus,Parmotrema,Parmotrema_tinctorum,O=C(OC)c1c(O)c(C=O)c(O)cc1C,10.1021/np0001326,Journal_of_Natural_Products,...,Seeding_Germination_A_hypochondriacus,0.0011,Seeding_Germination_E_crusgalli,0.000300,Photosynthesis,NaN,NaN,Phytotoxic,NaN,NoBioactivity(3)
2,FQNP393,Methyl_orsellinate,J_Nat_Prod_2000;63_(10):1396-1399,2000,Fungus,Parmotrema,Parmotrema_tinctorum,O=C(OC)c1c(O)cc(O)cc1C,10.1021/np0001326,Journal_of_Natural_Products,...,Seeding_Germination_A_hypochondriacus,0.00068,Seeding_Germination_E_crusgalli,0.000300,Photosynthesis,0.000008,CaM_Dependent_PDE,Phytotoxic,NaN,NoBioactivity(3)
3,FQNP390,Gyrophoric_acid,J_Nat_Prod_2000;63_(10):1396-1399,2000,Fungus,Parmotrema,Parmotrema_tinctorum,O=C(Oc1cc(O)c(C(=O)O)c(C)c1)c1c(O)cc(OC(=O)c2c...,10.1021/np0001326,Journal_of_Natural_Products,...,Seeding_Germination_A_hypochondriacus,0.002,Seeding_Germination_E_crusgalli,0.000087,Photosynthesis,0.000060,Proton_Uptake,Phytotoxic,NaN,NoBioactivity(3)
4,FQNP389,Lecanorin,J_Nat_Prod_2000;63_(10):1396-1399,2000,Fungus,Parmotrema,Parmotrema_tinctorum,O=C(Oc1cc(O)cc(C)c1)c1c(O)cc(O)cc1C,10.1021/np0001326,Journal_of_Natural_Products,...,Seeding_Germination_A_hypochondriacus,0.00071,Seeding_Germination_E_crusgalli,0.000136,Photosynthesis,0.000140,Proton_Uptake,Phytotoxic,NaN,NoBioactivity(3)